a {
  height: 30px;
  width: 80px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button {
  height: 30px;
  width: 80px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.wrapper {
  height: 450px;
  width: 450px;

  border-radius: 2px;
}


